* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(assets/background.jpg) no-repeat center center fixed;
    background-size: cover;
}
.profile-card {
    background-color: hsla(0, 0%, 100%, .5);
    width: 480px;
    max-width: calc(100vw - 10px);
}
.head {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.profile-image {
    margin-top: -60px;
}

.content {
    width: 90%;
    margin: auto;
}

li {
    display: inline;
}

ul {
    list-style-type: none;
}

content {
    padding: 5% 10%;
}

.about {
    text-align: center;
    padding: 10px;
}

.links {
    text-align: center;
}